[Unit]
Description=Webapp
ConditionPathExists=/opt/csye6225/
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/
EnvironmentFile=/opt/csye6225/.env
ExecStart=node /opt/csye6225/server.js
Restart=always
RestartSec=10
TimeoutSec=15
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225-Webapp

[Install]
WantedBy=multi-user.target